<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-01-01T00:57:52Z</date>
	<key>WorkspacePath</key>
	<string>/Users/bharathnadampalli/Samples/MyGitHub/MyExperiments/iosdays/threadexperiments/NSThreadAnatomy2/NSThreadAnatomy2.xcodeproj</string>
</dict>
</plist>
